@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  /* 业务代码在这里 */
}

html .header,
body .header {
  position: relative;
  height: 57px;
  width: 100%;
}

html .header ul,
body .header ul {
  width: 857px;
  height: 57px;
}

html .header ul li,
body .header ul li {
  display: inline-block;
  width: 140px;
  line-height: 57px;
  text-align: center;
}

html .header ul li span,
body .header ul li span {
  color: #bf0017;
  font-size: 16px;
}

html .header ul li:first-child img,
body .header ul li:first-child img {
  width: 110px;
  height: 18px;
}

html .header .input,
body .header .input {
  position: absolute;
  top: 14px;
  right: 123px;
}

html .header .input input,
body .header .input input {
  position: relative;
  background-color: #bf0017;
  border-radius: 20px;
  border: none;
  width: 146px;
  height: 30px;
}

html .header .input #one,
body .header .input #one {
  position: absolute;
  top: 0;
  right: 80px;
  z-index: 1;
  color: #fff;
  font-size: 18px;
  margin-top: 3px;
}

html .header .input .iconfont,
body .header .input .iconfont {
  color: #bf0017;
  font-size: 22px;
  margin-left: 10px;
}

html .content,
body .content {
  position: relative;
  width: 1920px;
  height: 900px;
  margin: 100px auto;
  overflow: hidden;
  top: -100px;
  /* previous前
                 next后
              */
}

html .content ul,
body .content ul {
  /* 为了让ul进行移动的 */
  position: absolute;
  left: 0;
  top: 0;
  height: 900px;
  width: calc(1920px *5);
}

html .content ul li,
body .content ul li {
  float: left;
}

html .content a,
body .content a {
  display: block;
}

html .content .prev,
html .content .next,
body .content .prev,
body .content .next {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  width: 22px;
  height: 32px;
  z-index: 10;
}

html .content .prev,
body .content .prev {
  left: 0;
  background-image: url("../images/arrow-next.png");
}

html .content .next,
body .content .next {
  right: 0;
  background-image: url("../images/arrow-next.png");
}

html .list,
body .list {
  height: 650px;
  width: 100%;
  background-color: #ccc;
}

html .list ul,
body .list ul {
  width: 1112px;
  height: 544px;
  margin: 100px auto;
}

html .list ul li,
body .list ul li {
  display: inline-block;
  width: 255px;
  height: 255px;
  padding: 10px 10px;
}

html .list ul li:nth-child(-n+5),
body .list ul li:nth-child(-n+5) {
  margin-top: 10px;
}

html .list ul li img,
body .list ul li img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

html .footer,
body .footer {
  position: relative;
  width: 100%;
  height: 327px;
  background-color: #bf0017;
}

html .footer ul,
body .footer ul {
  width: 750px;
  height: 60px;
  margin-left: 97px;
  margin-top: 60px;
}

html .footer ul li,
body .footer ul li {
  float: left;
  width: 25%;
}

html .footer ul li img,
body .footer ul li img {
  width: 60px;
  height: 60px;
}

html .footer .special,
body .footer .special {
  position: absolute;
  right: 85px;
  top: 120px;
}
/*# sourceMappingURL=index.css.map */